@font-face {
  font-family: 'Gilroy';
  src: url("nui://sunlife_ui/apps/gunfight/hud/assets/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("nui://sunlife_ui/apps/gunfight/hud/assets/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@-webkit-keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menuContainer {
  font-family: 'Gilroy', sans-serif;
  font-weight: normal;
  overflow: hidden;
  height: 100%;
  user-select: none;
}

.menuContainer a {
  display: block;
  text-decoration: none;
}

.crosshair,
.menu-car,
.menu-user {
  opacity: 0;
}

#cursorPointer {
  position: absolute;
  z-index: 999999;
  display: none;
}

.crosshair {
  text-align: center;
  width: 8px;
  height: 8px;
  /*border: 1px solid $white;
  border-radius: 100%;*/
  position: absolute;
  top: calc(50% - 4px);
  left: calc(50% - 4px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 200;
}

.crosshair.fadeIn {
  width: 8px;
  height: 8px;
  top: calc(50% - 4px);
  left: calc(50% - 4px);
  z-index: 200;
}

.crosshair.active {
  width: 25px;
  height: 25px;
  top: calc(50% - 8px);
  left: calc(50% - 0.25%);
  background: url("nui://sunlife_ui/apps/gunfight/hud/assets/images/close.png") no-repeat;
  background-size: 100%;
}

.animated {
  -webkit-animation: fadeInFromNone 2s ease-out;
          animation: fadeInFromNone 2s ease-out;
}

.menu {
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  top: -1%;
  z-index: 0;
  -webkit-animation: fadeInFromNone 2s ease-out;
          animation: fadeInFromNone 2s ease-out;
  left: -2%;
}

.menu li {
  list-style: none;
  width: 50%;
  line-height: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 0.1%;
  padding-bottom: 0.1%;
  padding-left: 3%;
  padding-right: 3%;
}

.menu li a {
  font-size: 16px;
  display: inline-block;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  padding: 10px 20px 10px 18px;
  margin: 10px 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  will-change: transform;
}

.menu li a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.menu li a .emoji {
  font-size: 18px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}

.menu li a .emoji img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.menu li:nth-child(odd) {
  text-align: right;
  right: 60px;
  -webkit-transform-origin: right center;
          transform-origin: right center;
}

.menu li:nth-child(even) {
  left: 60px;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.fadeIn {
  opacity: 1;
  z-index: 10;
}
/*# sourceMappingURL=style.css.map */