body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#miniScores {
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    bottom: 0;
    scale: 1;
    position: absolute;
}

#menuContent {
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    bottom: 0;
    scale: 1;
    position: absolute;
}


.miniScore {
    padding: 0.3vh;
    border-radius: 0.5vh;
    background-color: rgba(0, 0, 0, 0.55);
    width: 19vh;
    height: 4vh;
    color: white;
    display: flex;
    transform: scale(0.7);
    transform-origin: top left;
    /* Set the scaling origin */
}

.scoreMug {
    width: 0.5vh;
    flex-grow: 1;
    box-sizing: border-box;

}

.centered-text {
    text-align: center;
    margin: 0;
    font-size: 2.3vh;
    line-height: 3.9vh;
    font-family: 'Courier New', Courier, monospace;
}

.scoreMug img {
    border-radius: 0.5vh;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.scoreValue {
    flex-grow: 1;
    box-sizing: border-box;
}

.miniScore:hover {
    transform: scale(0.7);
}

.hockeyui {
    position: absolute;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
}



.gameinfo {
    min-width: 15.5vw;
    height: auto;
    position: absolute;
    z-index: 99;
    left: 2.8vw;
    top: calc(3.8vh + 0vh);
    display: flex;
    flex-direction: column;
    color: white;
}

.gameinfo .row {
    font-family: "NineteenEighty";
    font-size: 1.75vh;
    line-height: 3.5vh;
    height: 3.6vh;
    padding-left: 0.5vw;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: 0.2vh;
}

.gameinfo .actionrow {
    font-family: "NineteenEighty";
    font-size: 1.3vh;
    color: rgb(255, 255, 255);
    line-height: 2.0vh;
    height: 2.0vh;
    padding-left: 0.5vw;
    text-align: center;
    z-index: 99;
    background: rgb(113, 157, 122);
    margin-bottom: 0.2vh;
}


.gameinfo .littlerow {
    font-family: "NineteenEighty";
    font-size: 1.2vh;
    color: rgba(255, 255, 255, 255);
    line-height: 2.3vh;
    height: 2.1vh;
    padding-left: 0.5vw;
    z-index: 99;
    background: linear-gradient(0.25turn, #00000089, #ffffff00);
    margin-bottom: 0.2vh;
    font-weight: bolder;
}

.gameinfo .rowmine {
    font-family: "NineteenEighty";
    font-size: 1.75vh;
    line-height: 3.5vh;
    background-color: white;
    color: black;
    height: 3.6vh;
    padding-left: 0.5vw;
    z-index: 99;
    margin-bottom: 0.2vh;
}

.gameinfo .scorebox {
    font-family: "NineteenEighty";
    font-size: 1.75vh;
    line-height: 3.5vh;
    background-color: rgb(113, 157, 122);
    height: 3.6vh;
    width: 3.6vh;
    z-index: 99;
    float: right;
    color: white;
    text-align: center;
}

.gameinfo .extracontent {
    font-family: "NineteenEighty";
    font-size: 1.75vh;
    line-height: 3.5vh;
    height: 3.6vh;
    width: 3.6vh;
    z-index: 99;
    float: right;
    color: white;
    text-align: center;
}

.gameinfo .extracontent .inside {
    background-color: transparent;
    width: auto;
    height: 3.6vh;
    position: fixed;
    background: linear-gradient(0.25turn, #00000089, #ffffff00);
}

.gameinfo .extracontent .inside .ball {
    height: 3.6vh;
    margin-left: -2.0vh;
    transition: opacity 1s, transform 1s;
}

.gameinfo .extracontent .inside .img-visible {
    opacity: 1 !important;
    transform: translateX(0px) rotate(0deg) !important;
}

.gameinfo .extracontent .inside .img-invisible {
    opacity: 0;
    transform: translateX(5.6vh) rotate(360deg);
}

.gameinfo .notifybox {
    font-family: "NineteenEighty";
    font-size: 1.75vh;
    line-height: 3.5vh;
    background-color: rgb(85, 190, 146);
    height: 3.6vh;
    width: 3.6vh;
    z-index: 99;
    float: right;
    color: white;
    text-align: center;
}

.gameinfo .red {
    background-color: rgba(181, 0, 0, 0.4);
}

.gameinfo .gray {
    background-color: rgba(0, 181, 0, 0.3);
}

.gameinfo .right {
    float: right;
    display: inline-flex;
    padding-right: 0.5vw;
}

.gameinfo .mug {
    vertical-align: middle;
    display: inline-flex;
    width: 3.6vh;
    height: 3.6vh;
    margin-left: -0.5vw;
    margin-top: -0.2vh;
}

.row p {
    display: contents;
    margin: 0;
    text-overflow: ellipsis;
}

.loadingbar p {
    display: contents;
    margin: 0;
}

.rowmine p {
    display: contents;
    margin: 0;
}

.gameinfo .paddle {

    width: 1.3vh;
    height: 1.3vh;
    border: 2px solid black;
    border-radius: 1.6vh;
    margin-top: 0.9vh;
}

.gameinfo .p1icon {
    background-color: rgba(255, 0, 68, 0.8);
}

.gameinfo .p2icon {
    background-color: rgba(0, 136, 255, 0.8);
}

.loadingbar {
    min-width: 3vw;
    height: 3.5vh;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0.3vh;
    bottom: 0;
    right: 0;
    z-index: 99;
    position: absolute;
    margin: 3vh;
    color: white;

    font-family: "NineteenEighty";
    font-size: 1.75vh;
    line-height: 3.5vh;
    padding: 0 1vh 0 1vh;
}

.loadingbar img {
    vertical-align: middle;
    display: inline;
    height: 2vh;
    width: 2vh;
    margin-top: -0.3vh;
    margin-right: 0.5vh;
}


@font-face {
    font-family: "NineteenEighty";
    src: url("../fonts/NineteenEighty.ttf") format("truetype");
}